body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg,
            #ffffff 0%,
            #fffdfd 40%,
            #fff7fa 75%,
            #fff0f5 100%);
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
/* 
@keyframes showMsg {
    to {
        opacity: 1;
    }
} */

#rotateWarning {
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    z-index: 9999;
    padding: 20px;
}